body {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.0;
}
/* Main header with nav bar */
header {
    position: relative;
    top: 0px;
}

.main-header {
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #223C60;
    color: #D6DDE0;
}

h1{
    position: relative;
    right: -20px;
}

nav ul {
    position: relative;
    left: -20px;
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #446FA0;
    font-weight: bolder;
}
/* -------------------------------- */
main {
    position: relative;
    top: 120px;
}

#other-work {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
}

h2 {
    border-bottom: 1px solid;
    margin: 40px;
}

h3 {
    text-align: center;
}

p {
    color: #51555B;
    padding: 20px 80px 20px 80px;
}

.banner-app {
    position: relative;
}

.banner-img {
    background-color: #446FA0;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
}

.card-apps {
    position: relative;
    flex: 1 0 0;
    text-align: center;
    border: 10px solid #446FA0;
    margin: 10px;
}

.card-apps h3 {
    background-color: #446FA0;
    color: #D6DDE0;
}

.card-img {
    position: relative;
    bottom: 0px;
    width: 100%;
    min-width: 150px;
}

.container {
    max-width: 100%;
}

.container ul {
    position: relative;
    display: flex;
}

.container a {
    position: relative;
    text-decoration: none;
    padding: 25px;
}

@media screen and (max-width: 768px) {

}



